footer {
    padding-top: 15px;
    position: relative;
    color: #000000;
    
    background: url("head-bg.jpg"); /* path relative to the public folder */
    background-size: cover; /* ensures the image covers the background */
    background-position: center; /* centers the image */
}

footer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.459); /* semi-transparent black overlay */
    backdrop-filter: blur(4px); /* applies blur effect */
    z-index: 1; /* ensures the overlay is above the background image */
}

footer * {
    position: relative;
    z-index: 2; /* ensures the text and other content are above the overlay */
}


footer .footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer .footer-container > div {
    flex: 1 1 20%;
    text-align: left;
    margin-bottom: 20px;
    margin-left: 20px;
}

footer .footer-container img {
    max-width: 150px;
}

footer .footer-container h4 {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 600;
}

footer .footer-container ul {
    list-style-type: none;
    padding: 0;
}

footer .footer-container ul li {
    margin: 8px 0;
}

footer .footer-container ul li a {
    color: #000000;
    text-decoration: none;
    transition: color 0.3s ease;
}

footer .footer-container ul li a:hover {
    color: #3f3e3e;
}

footer .footer-container p {
    margin: 5px 0;
}

footer .footer-container iframe {
    width: 80%;
    height: 150px;
    border: none;
}

footer .footer-copyright {
    text-align: center;
    padding: 1px 0;
    
    margin-top: 5px;
}

footer .mid-container {
    color: #ffbb00;
}

footer .footer-content{
    font-size: 12px;
}



/* Mobile Responsiveness */
@media (max-width: 768px) {
    footer .footer-container {
        flex-direction: column;
        align-items: center;
    }

    footer .footer-container > div {
        flex: 1 1 100%;
        text-align: center;
        margin-left: 0;
    }

    footer .footer-container iframe {
        width: 100%;
        height: 200px;
    }
}
